<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627528502360-285ra0k24e1ep6r765q0oncojqbjuohe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627528502360-285ra0k24e1ep6r765q0oncojqbjuohe</string>
	<key>API_KEY</key>
	<string>AIzaSyCVRlTapDOvMjN5f2_uV_LRBsE-65DNZLU</string>
	<key>GCM_SENDER_ID</key>
	<string>627528502360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizlet</string>
	<key>PROJECT_ID</key>
	<string>quizzy-64099</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzy-64099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627528502360:ios:55e0888b592d7f7c610e2d</string>
</dict>
</plist>